
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=683efab0-9f3f-4506-a48a-e5c1af0e9f25");
@font-face
	{
	font-family:"OfficinaSansITCW01-Book";
				src:url("fhttps://cdn.rawgit.com/vnf89/Public/master/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot");
				src:url("https://cdn.rawgit.com/vnf89/Public/master/e4f88d1f-2f5e-49a0-9361-9fcdc5bfc795.eot") 
						format("eot"),url("https://cdn.rawgit.com/vnf89/Public/master/60567f88-1ef5-4f2c-9951-3ce3845f9967.woff") 
						format("woff"),url("https://cdn.rawgit.com/vnf89/Public/master/ec8c3086-5408-4f25-97d0-f1f4c7014668.ttf") 
						format("truetype"),url("https://cdn.rawgit.com/vnf89/Public/master/d29fed54-ae01-49ef-94e2-3e3fb9df3f70") 
						format("svg");
	}




/* ///////////////////////////// /*/
.page{
		background-color: white;
}

.header-container2{
		background-color: white;
}

.footer-container
	{
		background-color: white;
	}

.footer-container2
	{
		background-color: white;
	}

body {
	font-family: "OfficinaSansITCW01-Book", Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 14px;
 }
 
#banner {
	font-family: "OfficinaSansITCW01-Book", Helvetica, sans-serif;
	color: #57585A;
	font-size: 16px;
 }
 
	#banner a:link, #banner a:visited, #banner a:active, #banner a:hover {
		color: #000000;
		text-decoration: none;
	 }
 
.banner_headline {font-size: 40px;}
 
.description {
	font-size: 16px;
	color: #646464;
 }
 
.large {font-size: 16px;}
 
#banner a:hover {color: #F1A33F;}
 
.col-main h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	line-height: 40px;
 }
 
.col-main h2 {
	font-size: 26px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
	color: #646464;
 }
 
.col-main h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
	color: #646464;
 }
 
#footer {font-size: 12px;}
 
	#footer a {
		text-decoration: none;
		color: #000000;
		font-size: 12px;
	 }
 
#product-footer {color: #989898;}
 
/* NAVIGATION */
.swp-breadcrumbs a:link, .swp-breadcrumbs a:visited, .swp-breadcrumbs a:active, .swp-breadcrumbs a:hover {
	font-size: 14px;
	text-decoration: none;
	color: #8A8A8A;
 }
 
.swp-breadcrumbs a:hover {color: #F3AC52;}
 
.swp-breadcrumbs-level {color: #F3AC52;}
 
#tabbed .tabs {
	text-align: right;
	padding: 0px;
 }
 
	#tabbed .tabs li {
		list-style: none;
		display: inline;
	 }
 
	#tabbed .tabs a:before {content: url('atto/curve_l_gray.jpg');}
 
#tabbed  .tabs a:link, #tabbed .tabs a:visited, #tabbed .tabs a:active, #tabbed  .tabs a:hover {
	height: 16px;
	min-width: 50px;
	margin: 0px 0px 20px 10px;
	padding-right: 4px;
	font-size: 14px;
	text-decoration: none;
	color: #57585A;
	line-height: 16px;
	background-image: url(images/atto/curve_r_gray.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: inline-block;
 }
 
#tabbed .tabs a.active:before {content: url(images/atto/curve_l.jpg);}
 
#tabbed .tabs a.active:link, #tabbed .tabs a.active:visited, #tabbed .tabs a.active:active, #tabbed .tabs a.active:hover {
	height: 16px;
	min-width: 50px;
	margin: 0px 0px 20px 10px;
	padding-right: 4px;
	font-size: 14px;
	text-decoration: none;
	color: #F3AC52;
	line-height: 16px;
	background-image: url(images/atto/curve_r.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: inline-block;
 }
 
#top-nav a:before {content: url(img/curve_l.jpg);}
 
#top-nav a:link, #top-nav a:visited, #top-nav a:active, #top-nav a:hover {
	height: 16px;
	margin: 0px 0px 0px 10px;
	padding-right: 5px;
	font-size: 14px;
	text-decoration: none;
	color: #57585A;
	line-height: 16px;
	background-image: url(img/curve_r.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: inline-block;
 }
 
#product-footer a:before {content: url(img/curve_l_bg_gray.png);}
 
#product-footer a:link, #product-footer a:visited, #product-footer a:active, #product-footer a:hover {
	margin: 0px 0px 0px 10px;
	padding-right: 5px;
	font-size: 14px;
	text-decoration: none;
	color: #F1A33F;
	line-height: 16px;
	background-image: url(img/curve_r.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: inline-block;
 }
 
/* STYLE */
html {height: 100%;}
 
body {
	height: 100%;
	margin: 0px auto 0px auto;
	width: 852px;
	padding: 0px;
	text-align: center;
	background-color: #ffffff;
 }
 
img {border: 0px;}
 
p {margin: 0px;}
 
#header {
	position: relative;
	width: 840px;
	height: 60px;
	margin: 0px auto;
	text-align: center;
 }
 
#logo {
	float: left;
	margin: 12px 0px 12px 0px;
 }
 
#top-nav {
	position: absolute;
	width: 550px;
	height: 60px;
	left: 140px;
	top: 20px;
	text-align: center;
 }
 
#search {
	position: absolute;
	width: 110px;
	height: 60px;
	top: 20px;
	left: 695px;
 }
 
#facebook {
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 20px;
	left: 825px;
 }
 
#banner-bg {
	width: 852px;
	margin: 0px auto;
	min-height: 250px;
	text-align: left;
	background-repeat: repeat-x;
 }
 
#banner {
	width: 852px;
	height: 250px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
	clear: both;
 }
 
	#banner ul {
		margin: 0px;
		padding-top: -20px;
	 }
 
#breadcrumb {
	width: 840px;
	margin: 8px auto;
	text-align: left;
 }
 
.col-main {
	width: 828px;
	min-height: 204px;
	margin: 50px auto;
	text-align: left;
	clear: both;
	padding: 13px;
 }
 
#footer {
	width: 840px;
	min-height: 5px;
	margin: 0px auto;
	clear: both;
	padding: 5px;
 }
 
#footer-bg {
	margin-top: 20px;
	min-height: 56px;
	text-align: left;
	background-image: url(img/f_bg.png);
	background-repeat: repeat-x;
 }
 
#product-footer {
	width: 840px;
	min-height: 46px;
	margin: 0px auto;
	clear: both;
	padding: 5px;
 }
 
.clear {clear: both;}
 
.wrapper {background-color: white;}
 
.nav-regular {background-color: white;}
 
	.nav-regular .nav-item.level0 > a, .nav-regular .nav-item.level0:hover > a {
		height: 16px;
		margin: 0px 0px 20px 10px;
		padding-right: 5px;
		font-size: 14px;
		text-decoration: none;
		color: #57585A;
		line-height: 16px;
		background-image: url(http://attocube.com/themes/attocube.com/img/curve_r.png);
		background-repeat: no-repeat !important;
		background-position: right top;
		display: inline-block;
		background-color: transparent;
		color: black;
	 }
 
	.nav-regular .nav-item.level0 a:before, .nav-regular .nav-item.level0:hover a:before {content: url(http://attocube.com/themes/attocube.com/img/curve_l.jpg);}
 
	.nav-regular li.level0 > a {padding: 0px;}
 
	.nav-regular .nav-submenu--mega > li > a {background: none;}
 
#nav {border: none;}
 
.nav-regular .nav-item.level0 > .nav-panel--dropdown, .nav-regular .mega > .nav-panel--dropdown, .nav-regular .classic > .nav-panel--dropdown {border-top: 5px solid #F49F25;}
 
.wrapper {border-top-style: none;}
 
.footer .ib, .footer span.icon, .ib, .feature > span.icon, .social-links .ib, .social-links a > span.icon, span.ib.ic.ic-lg.ic-star {background-color: gray;}
 
.footer .ib:hover, .footer span.icon:hover, .ib:hover, .feature > span.icon:hover , .social-links .ib-hover:hover, .social-links a > span.icon-hover:hover, span.ib.ic.ic-lg.ic-star:hover {background-color: #F49F25 !important;}
 
.footer-container, .footer, .footer-bottom-container {
	background-color: white !important;
	color: black !important;
 }
 
.product-view .btn-cart, .btn-checkout, .product-view .btn-cart:hover, .btn-checkout:hover {
	background-color: #F59924;
	color: black;
 }
 
.img-box-style1 .product-image {border-style: none;}
 
.gen-tabs .tabs a.current, .gen-tabs .tabs a:hover {
	background-color: #ffffff;
	color: #F59924;
 }
 
/* Product Specifications */
.green_table table {
	width: 100%;
	font-size: 11px;
 }
 
	.green_table table tr th {background-color: #D6E3AD;}
 
	.green_table table tr td {
		background-color: #EEF0F2;
		width: 50%;
		vertical-align: top;
		padding: 3px;
	 }
 
		.green_table table tr td + td {background-color: #F6F7F8;}
 
.col-main {
	border-top: 1px dotted #000000;
	border-collapse: collapse;
 }
 
.light_green_iconbar {
	position: relative;
	padding-top: 8px;
	font-size: 11px;
 }
 
	.light_green_iconbar table {width: 100%;}
 
	.light_green_iconbar td {
		width: 17%;
		text-align: center;
	 }
 
	.light_green_iconbar .bar {
		width: 100%;
		height: 21px;
		background-color: #E1E1E1;
		border-top: 2px solid #D6E3AD;
		margin-bottom: -19px;
	 }
 
.green_box {
	border: 2px solid #84bb41;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	color: #777777;
	font-size: 14px;
	border-radius: 25px;
 }
 
.col-main .green_box h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	color: #84bb41;
	text-align: center;
 }
 
.product-name > h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	line-height: 40px;
 }

 /* Special price */
.special-price { margin:0; padding:0; }
.special-price .price,
.special-price .price-label { color:#F59924 !important; /* Override other color changes */ }
.special-price .price-excluding-tax .price {}

/* Minimal price (as low as) */
.minimal-price-link .price { color:#F59924 !important; }

/* Tier Prices
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.tier-prices .benefit { color:#F59924 !important; font-weight:normal; }

/* Shopping Cart Table
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.cart-table .item-msg { margin:5px 0; font-size:0.9166em; font-weight:bold; color:#F59924 !important; }

/* Address Book
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.addresses-list .link-remove:hover { color:#F59924 !important; }

/* Date */
.order-date { margin:15px 0; color:#F59924 !important; clear:both; }

/* Mark for required product options (next to option label)
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
label.required:after,
span.required:after {
	content: ' *';
	color: #F59924 !important;
	font-weight: normal;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 12px;
}

/* Form Validation
-------------------------------------------------------------- */
.validation-advice { clear:both; font-size:0.9166em; line-height:1em; color:#F59924; margin-top:5px; margin-bottom:5px; }
.validation-failed { border:1px solid #F59924 !important; background:#fff !important; }

/* Required */
.form-list label.required em { color:#F59924 !important; }

/* Global Messages
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.error { color:#F59924 !important; font-weight:bold; }

/* Sale
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.sticker.sale {
	background-color: #F59924 !important;
	color: #ffffff;
}

.cat-label-label2 {
	background-color: #F59924 !important;
	color: #ffffff;
}

li.level0 > a > span > .cat-label-label2.pin-bottom:before {
	border-top-color: #F59924 !important;
}


/* ////  Change color Fiuscha to atto Orange/Yellow */

a:hover,
.vertnav li.current > a,
h2.product-name a:hover,
h3.product-name a:hover,
h4.product-name a:hover,
h5.product-name a:hover,
p.product-name a:hover
{
			color: #F59924 !important;
	}

.button:hover,
.button:focus
{
	background-color: #F59924 !important; 
	color: #ffffff;
}

.btn-checkout:hover
{
	background-color: #F59924 !important;
	color: #ffffff;
}

/* Scroll to top */
#scroll-to-top:hover
{
	background-color: #F59924 !important;
	color: #ffffff;
}

/* For backward compatibility: */
.icon-hover:hover,
.feature-icon-hover:hover > span.icon
{
	background-color: #F59924 !important;
	color: #ffffff !important;
}

.ib-hover.icon-color-productview:hover,
.feature-icon-hover:hover .ib.icon-color-productview,
.feature-icon-hover:hover span.icon.icon-color-productview {
	background-color: #F59924 !important;
}

.header .dropdown .dropdown-content a:hover,
.header .dropdown.open > .dropdown-heading.cover a:hover,
.header .form-search .search-autocomplete li:hover
{
			color: #F59924 !important;
	}

.header-top a:hover
{
			color: #F59924 !important;
	}

.header-mobile .skip-link.skip-active
{
			background-color: #fafafa;
				color: #F59924 !important;
	}

.header-mobile .skip-content--style a:hover
{
			color: #F59924 !important;
	}

.cat-label-label2 {
			background-color: #F59924 !important; 
				color: #ffffff;
	}

li.level0 > a > span > .cat-label-label2.pin-bottom:before {
			border-top-color: #f59924 !important;
	}

#nav .nav-panel--dropdown a:hover
{
			color: #f59924 !important;
	}

#nav .nav-panel--dropdown a:hover .caret
{
	border-left-color: #f59924 !important;
	border-right-color: #f59924 !important;
}

.nav-regular .nav-item.level0.active > a
{
	background-color: transparent;
	color: #f59924 !important;
}

				.nav-mobile .nav-item.level0.current > a
		{
			background-color: transparent;
			color: #f59924 !important;
		}
		.nav-mobile .nav-item.level0.current > .opener
		{
			color: #f59924 !important;
		}
						#nav.nav-mobile ul.level0 .nav-item.current > a
		{
			background-color: transparent;
			color: #f59924 !important;
		}
		.nav-mobile ul.level0 .nav-item.current > .opener
		{
			color: #f59924 !important;
		}
				.nav-regular .nav-item.level0:hover > a
		{
			background-color: #ffffff;
			color: #f59924 !important;
		}
				.nav-mobile .nav-item.level0 > a:hover
		{
			background-color: #ffffff;
			color: #f59924 !important;
		}
		.nav-mobile .nav-item.level0 > a:hover + .opener
		{
			color: #f59924 !important;
		}
						#nav.nav-mobile ul.level0 .nav-item > a:hover
		{
			background-color: #ffffff;
			color: #f59924 !important;
		}
		.nav-mobile ul.level0 .nav-item > a:hover + .opener
		{
			color: #f59924 !important;
		}

#nav .nav-item.level0.parent.active > a .caret {
	border-top-color: #f59924 !important;
}
#nav .nav-item.level0.parent:hover > a .caret {
	border-top-color: #f59924 !important;
}

.mobnav-trigger:hover
{
	background-color: #ffffff;
	color: #f59924 !important;
}

.mobnav-trigger.active
{
	background-color: #ffffff;
	color: #f59924 !important;
}

.mobnav-trigger:hover .trigger-icon .line {
	background-color: #f59924 !important;
}
.mobnav-trigger.active .trigger-icon .line {
	background-color: #f59924 !important;
}

.gen-tabs .tabs a:hover
/*, .gen-tabs .tabs a:focus */
{
	background-color: transparent;
	color: #f59924 !important;

		border-color: transparent;
	border-bottom-color: transparent;
}

.gen-tabs .tabs a.current
{
	background-color: #ffffff;
	color: #f59924 !important;
}

.gen-tabs .acctab:hover,
.gen-tabs .acctab:focus,
.gen-tabs .acctab.current {
	background-color: transparent;
	color: #f59924 !important;
}

.the-slideshow.slider-pagination1 .owl-controls 			.owl-page.active span,
.the-slideshow.slider-pagination1 .owl-controls.clickable 	.owl-page.active:hover span /* Active state overrides hover state */
{
	background-color: #f59924 !important;
		}

.footer .button:hover,
.footer .button:focus
{
	background-color: #f59924 !important;
	color: #ffffff;
}

.footer .ib-hover:hover,
.footer span.icon-hover:hover, /* For backward compatibility */
.footer .feature-icon-hover:hover .ib,
.footer .feature-icon-hover:hover span.icon /* For backward compatibility */
{
	background-color: #f59924 !important;
	color: #ffffff !important;
}


/* Accordion and collapsible: opener */
.footer .accordion-style1 .opener:hover,
.footer .collapsible .opener:hover
{
	background-color: #f59924 !important;
	color: #ffffff;
}


.footer-bottom a:hover
{
			color: #f59924 !important;
	}


.social-links .ib-hover:hover,
.social-links a > span.icon-hover:hover /* For backward compatibility */
{
	background-color: #f59924 !important;
	color: #ffffff !important;
}







